<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Sbert Distribution | Sellos discograficos de musica electronica</title>

  <!-- DESCRIPCION PARA POSICIONAMIENTO EN REDES SOCIALES Y GOOGLE -->
  <meta name="description" content="Sbert Distribution reune sellos discograficos especializados en techno, house y musica electronica.">

  <!-- PALABRAS CLAVES -->
  <meta name="keywords" content="techno, house, musica electronica, sello discografico, distribucion musical, Sbert Distribution">

  <!-- AUTOR -->
  <meta name="author" content="Sbert Distribution">

  <!-- HOJA DE ESTILOS -->
  <link rel="stylesheet" href="../css/estilos.css">

  <!--FAVICON-->
  <link rel="icon" type="image/png" href="/html_trabajo1/images/favicon.png">

</head>
<body>
  <header>
     <!-- SECCION QUE CONTIENE LOGO DE LA EMPRESA Y EL NOMBRE-->
    <div class="container brand">
      <img src="../images/sbert_records2.jpg" alt="Logotipo sbert records" width="400" height="400">
      <span>Sbert Records</span>
      <span></span>
    </div>
  </header>

  <nav>
    <!-- "MENU" SECCION QUE CONTIENE LA LISTA DESORDINADA "MENU" CON 4 ENLACES CADA UNA
     VINCULADA A SU CORRESPONDIENTE PAGINA-->
    <div class="container">
      <ul class="menu">
        <li><a href="../index.html">Inicio</a></li>
        <li><a href="portfolio.html">Catálogo</a></li>
        <li><a href="presupuesto.html">Tu Demo</a></li>
        <li><a class="activo" href="contacto.html">Contacto</a></li>
      </ul>
    </div>
  </nav>

<!--===================== SECCION DE CONTACTO =====================-->
  <!--CONTIENE TITULO, DESCRIPCION, MAPA Y DIRECCION-->
  <div class="container contacto-container">
    <section>
      <h1>Contacto</h1> 
      <p>Escríbenos o visítanos, será un placer conocerte.</p>
     
      <iframe class="mapa" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2993.301671518864!2d2.649493!3d39.555914!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x129792499e88a6b5%3A0x6a79b47a91b2a692!2sCarrer%20Militar%2C%2050%2C%2007012%20Palma%2C%20Illes%20Balears!5e0!3m2!1ses!2ses!4v1726930000000!5m2!1ses!2ses" 
       width="600" 
       height="350" 
       style="border:0;" 
       allowfullscreen 
       loading="lazy" 
      referrerpolicy="no-referrer-when-downgrade">
      </iframe>

      <h2>Sbert Distribution SL</h2>
      <p>
        Carretera de Reyes 50, Palma, Illes Balears, Spain<br>
        Tel: +34 666 555 444<br>
        Email: info@sbert-distribution.com
      </p>
    </section>
  </div>


  <!---FOOTER PIE DE PAGINA-->
  <footer>
  <div class="container footer-content">
    <!-- COLUMNA IZQUIERDA QUE CONTIENE NOMBRE DE EMPRESA Y DIRECCION FISICA-->
    <div class="footer-left">
      <p>© 2025 Sbert Distribution SSL</p>
      <p>Todos los derechos reservados</p>
      <p>Dirección: Carretera de Reyes 50, Illes Balears, Spain, 07012</p>
    </div>

    <!-- COLUMNA CENTRAL QUE CONTIENE RRSS CADA RED VINCULADA CON SU DIRECCION-->
    <div class="footer-center">
      <a href="https://www.facebook.com/p/Sbert-Records-100063693550907/" class="social">
        <img src="../images/logos-redes/fbook.png" alt="Facebook" width="80" height="80">
      </a>
      <a href="https://www.instagram.com/sbert_records/" class="social">
        <img src="../images/logos-redes/insta2.png" alt="Instagram" width="80" height="80">
      </a>
       <a href="https://www.youtube.com/channel/UC2CBPfKLiIV60zYjvActzmg" class="social">
        <img src="../images/logos-redes/you-tube.png" alt="Youtube" width="80" height="80">
      </a>
      <a href="https://x.com/danisbert" class="social">
        <img src="../images/logos-redes/x.png" alt="Twitter" width="80" height="80">
      </a>
    </div>

    <!-- COLUMNA DERECHA QUE CONTIENE LINK AVISO LEGAL VINCULADO CON LA PAGINA "AVISO LEGAL"-->
    <div class="footer-right">
      <a href="avisoLegal.html">Aviso legal</a>
    </div>
  </div>
</footer>
</body>
</html>