<!doctype html>
<html lang="es">
<head>
  <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Sbert Distribution | Sellos discográficos de música electrónica</title>

  <!-- DESCRIPCION PARA POSICIONAMENTO EN REDES SOCIALES Y GOOGLE-->
  <meta name="description" content="Sbert Distribution reúne sellos discográficos especializados en techno, house y música electrónica. Catálogo exclusivo, demos y contacto para artistas.">

  <!-- PALABRAS CLAVES -->
  <meta name="keywords" content="techno, house, música electrónica, sello discográfico, distribución musical, Sbert Records, DJs, productores">

  <!-- AUTOR DEL CONTENIDO -->
  <meta name="author" content="Sbert Distribution">
  <link rel="stylesheet" href="../CSS/estilos.css">
</head>


<body>
  <header>
    <!-- SECCION QUE CONTIENE LOGO DE LA EMPRESA Y EL NOMBRE-->
    <div class="container brand">
      <img src="../IMAGES/sbert_records2.jpg" alt="Sbert_Records">
      <span>Sbert Records</span>
    </div>
  </header>

  <nav> 
    <!-- "MENU" SECCION QUE CONTIENE LA LISTA DESORDINADA "MENU" CON 4 ENLACES CADA UNA
     VINCULADA A SU CORRESPONDIENTE PAGINA-->
    <div class="container">
      <ul class="menu">
        <li><a href="../index.html">Inicio</a></li>
        <li><a class="activo" href="portfolio.html">Catálogo</a></li>
        <li><a href="presupuesto.html">Tu Demo</a></li>
        <li><a href="contacto.html">Contacto</a></li>
      </ul>
    </div>
  </nav>

  
  <!--PORTFOLIO-->
  
  <!-- SECCION QUE CONTIENE TITULO Y PARRAFO "HERO"-->
  <div class="container">
    <section class="galeria-hero-container">
  <div class="presentacion_galeria">
    <h1>An Innovative Vision for Electronic Music</h1>
  </div>
  <div class="parrafo_galeria">
    <p>
      With a professional approach and a passion for excellence,
       Sbert Records is the ideal platform<br>
      for any electronic music artist looking to perfect their sound.
       <br>Our commitment to innovation and quality
      ensures that every project we work on is taken to the next level,<br> helping artists gain recognition
      and achieve success in the industry.
    </p>
  </div>
</section>
</div>

<!--AQUI HAY 5 SECCIONES DE GALERIA PARA CADA SELLO-->
<!--CADA SECCION CONTEIENE 8 ELEMENTOS -->
<!--CADA ELEMENTO CONTIENE IMAGEN, TITULO Y PARRAFO(DESCRIPCION), Y ESTA VINCULADO 
CON SECCION CORRESPONDIENETE DE PAGINA EXTERNA, DONDE USUARIO PODRA COMPLEAR EL SERVICIO -->


<!-- SECCION SBERT RECORDS -->
<section id="sbert-records" class="container">
  <h2>Sbert Records</h2>
  <div class="galeria">

    <a class="item" href="https://www.beatport.com/es/release/steelgrave/5179655" target="_blank">
    <img class="thumb" src="../IMAGES/sbertrecords/Steelgrave RGH.jpg" alt="Steelgrave-RGH">
    <p class="caption">Steelgrave<br><span>RGH</span></p>
    </a>

    <a class="item" href="https://www.beatport.com/es/release/status-q/5174101" target="_blank">
    <img class="thumb" src="../IMAGES/sbertrecords/Status Q Aaron Schwarz.jpg" alt="StatusQ-Aaron Schwarz">
    <p class="caption">Status Q<br><span>Aaron Schwarz</span></p>
    </a>

    <a class="item" href="https://www.beatport.com/es/release/particular-synthesis/5179664" target="_blank">
    <img class="thumb" src="../IMAGES/sbertrecords/Particular Synthesis Axell Lópe.jpg" alt="Particular-Synthesis-Axell-López">
    <p class="caption">Particular Synthesis<br><span>Axell López</span></p>
    </a>


    <a class="item" href="https://www.beatport.com/es/release/underneath/5129510" target="_blank">
      <img class="thumb" src="../IMAGES/sbertrecords/Underneath Dani Sbert, Duniz.jpg" alt="Underneath — Dani Sbert, Duniz">
      <p class="caption">Underneath<br> <span>Dani Sbert, Duniz</span></p>
    </a>

    <a class="item" href="https://www.beatport.com/es/release/kernspule/5174313" target="_blank">
      <img class="thumb" src="../IMAGES/sbertrecords/Kernspule Oliver Kalte.jpg" alt="Kernspule — Oliver Kalte">
      <p class="caption">Kernspule<br> <span>Oliver Kalte</span></p>
    </a>

    <a class="item" href="https://www.beatport.com/es/release/html-rules/5174079" target="_blank">
      <img class="thumb" src="../IMAGES/sbertrecords/HTML RULES MOTA.jpg" alt="HTML RULES — MOTA">
      <p class="caption">HTML RULES<br> <span>MOTA</span></p>
    </a>

    <a class="item" href="https://www.beatport.com/es/release/centaurus/5174286" target="_blank">
      <img class="thumb" src="../IMAGES/sbertrecords/Centaurus Heliosphere, Namhar.webp" alt="Centaurus — Heliosphere, Namhar">
      <p class="caption">Centaurus <br><span>Heliosphere, Namhar</span></p>
    </a>

    <a class="item" href="https://www.beatport.com/es/release/sonic-archives/5129489" target="_blank">
      <img class="thumb" src="../IMAGES/sbertrecords/Sonic Archives Traversable Messa.jpg" alt="Sonic Archives — Traversable Message">
      <p class="caption">Sonic Archives<br> <span>Traversable Message</span></p>
    </a>

  </div>
</section>

<!-- BULLY BEATZ -->
<section id="bully-beatz" class="container">
  <h2>Bully Beatz</h2>
  <div class="galeria">

    
    <a class="item" href="https://www.beatport.com/es/release/rift-valley/5179661" target="_blank" >
      <img class="thumb" src="../IMAGES/bullyBeatz/Rift Valley Vincent (IT).jpg" alt="Rift Valley Vincent (IT)">
      <p class="caption">Rift Valley<br><span>Vincent (IT)</span></p>
    </a>

     <a class="item" href="https://www.beatport.com/es/release/quasar/5148390" target="_blank" >
      <img class="thumb" src="../IMAGES/bullyBeatz/_Quasar JustJovani.jpg" alt="Descent Into OblivionLØGAN!">
      <p class="caption">Quasar<br><span>Just Jovani</span></p>
    </a>

      <a class="item" href="https://www.beatport.com/es/release/fucked-up/4937790" target="_blank" >
      <img class="thumb" src="../IMAGES/bullyBeatz/Fucked Up Daniel Sbert, Diatonik.jpg" alt="Descent Into OblivionLØGAN!">
      <p class="caption">Fucked Up<br><span>Daniel Sbert, Diatonik</span></p>
    </a>


    
    <a class="item" href="https://www.beatport.com/es/label/bully-beatz/18790?srsltid=AfmBOoqsGqGLvvnL3D2pyq0iSftKBvoGNLubf86iOVVBjzjggeRuHyL5" target="_blank">
      <img class="thumb" src="../IMAGES/bullyBeatz/_Black Hole Piero Dp.jpg" alt="Black Hole — Piero Dp">
      <p class="caption">Black Hole<br><span>Piero Dp</span></p>
    </a>

    <a class="item" href="https://www.beatport.com/es/release/xenon/5234227" target="_blank">
      <img class="thumb" src="../IMAGES/bullyBeatz/Xenon Daniel Sbert.jpg" alt="Xenon — Daniel Sbert">
      <p class="caption">Xenon<br><span>Daniel Sbert</span></p>
    </a>

    <a class="item" href="https://www.beatport.com/es/release/crambler/5107795" target="_blank">
      <img class="thumb" src="../IMAGES/bullyBeatz/Crambler Botar.jpg" alt="Crambler — Botar">
      <p class="caption">Crambler<br><span>Botar</span></p>
    </a>

    <a class="item" href="https://www.beatport.com/es/release/into-the-light/5120906" target="_blank">
      <img class="thumb" src="../IMAGES/bullyBeatz/Into the light Domek.jpg" alt="Into the light — Domek">
      <p class="caption">Into the light<br><span>Domek</span></p>
    </a>

    <a class="item" href="https://www.beatport.com/es/release/descent-into-oblivion/5162842" target="_blank">
      <img class="thumb" src="../IMAGES/bullyBeatz/Descent Into Oblivion Logan.jpg" alt="Descent Into Oblivion — Logan">
      <p class="caption">Descent Into Oblivion<br><span>Logan</span></p>
    </a>

  </div>
</section>


<!-- UFO RECORDINGS -->
<section id="ufo-recordings" class="container">
  <h2>UFO Recordings</h2>
  <div class="galeria">


    <a class="item" href="https://https://www.beatport.com/es/release/trident-selection/5127102" target="_blank">
      <img class="thumb" src="../IMAGES/ufoRecordings/Trident selection Conspiranoik, .jpg" alt="Trident selection Conspiranoik, Zinner, VaNISH (US)">
      <p class="caption">Trident selection<br><span></span> Conspiranoik, Zinner, VaNISH </span></p>

    <a class="item" href="https://www.beatport.com/es/release/code/5288909" target="_blank">
      <img class="thumb" src="../IMAGES/ufoRecordings/3th in a row Sjoerd Schouten (1).jpg" alt="3th in a row Sjoerd Schouten">
      <p class="caption">3th in a row<br><span>Sjoerd Schouten</span></p>
    </a>

    <a class="item" href="https://www.beatport.com/es/release/code/5288909" target="_blank">
      <img class="thumb" src="../IMAGES/ufoRecordings/The Lying Scene Axell López (1).jpg" alt="The Lying Scene Axell López">
      <p class="caption">The Lying Scene<br><span>Axell López</span></p>
    </a>

    <a class="item" href="https://www.beatport.com/es/release/code/5288909" target="_blank">
      <img class="thumb" src="../IMAGES/ufoRecordings/Code Analogic Ethanol (1).jpg" alt="Code Analogic — Ethanol">
      <p class="caption">Code Analogic<br><span>Ethanol</span></p>
    </a>

    <a class="item" href="https://www.beatport.com/es/release/shadow-of-the-beast/5174369" target="_blank">
      <img class="thumb" src="../IMAGES/ufoRecordings/Shadow of the Beast Zinner (2).jpg" alt="Shadow of the Beast — Zinner">
      <p class="caption">Shadow of the Beast<br> <span>Zinner</span></p>
    </a>

    <a class="item" href="https://www.beatport.com/es/release/cured/5126878" target="_blank">
      <img class="thumb" src="../IMAGES/ufoRecordings/Cured Conspiranoik (1).jpg" alt="Cured — Conspiranoik">
      <p class="caption">Cured<br> <span>Conspiranoik</span></p>
    </a>

    <a class="item" href="https://www.beatport.com/es/release/proton-crossed/5174261" target="_blank">
      <img class="thumb" src="../IMAGES/ufoRecordings/Proton Crossed Tiger Musik (1).jpg" alt="Proton Crossed — Tiger Musik">
      <p class="caption">Proton Crossed<br><span>Tiger Musik</span></p>
    </a>

    <a class="item" href="https://www.beatport.com/es/release/tnt/5127306" target="_blank">
      <img class="thumb" src="../IMAGES/ufoRecordings/Tnt Jey Di (1).jpg" alt="Tnt — Jey Di">
      <p class="caption">Tnt <br><span>Jey Di</span></p>
    </a>

  </div>
</section>


<!-- PSYKOMETRIK RECORDINGS -->
<section id="psykometrik-recordings" class="container">
  <h2>Psykometrik Recordings</h2>
  <div class="galeria">


    <a class="item" href="https://www.beatport.com/es/release/gone/4727999" target="_blank">
      <img class="thumb" src="../IMAGES/psykometrik recordings/_Gone Sjoerd Schouten.jpg" alt="Gone Sjoerd Schouten">
      <p class="caption">Gone<br><span>Sjoerd Schouten</span></p>
    </a>

    

    <a class="item" href="https://www.beatport.com/es/release/holler/5036126" target="_blank">
      <img class="thumb" src="../IMAGES/psykometrik recordings/_Holler Ntemos.jpg" alt="">
      <p class="caption">Holler<br><span>Ntemos</span></p>
    </a>

    
    <a class="item" href="https://www.beatport.com/es/release/dual-selections/5129456" target="_blank">
      <img class="thumb" src="../IMAGES/psykometrik recordings/Dual Selections Conspiranoik, Er.jpg" alt="Dual Selections Conspiranoik, Errors">
      <p class="caption">Dual Selections<br><span>Conspiranoik, Errors</span></p>
    </a>

    <a class="item" href="https://www.beatport.com/es/release/gliese/5036121" target="_blank">
      <img class="thumb" src="../IMAGES/psykometrik recordings/Gliese Error.jpg" alt="Gliese — Error">
      <p class="caption">Gliese<br><span>Errores</span></p>
    </a>

    <a class="item" href="https://www.beatport.com/es/release/3rd-eye/5126427" target="_blank">
      <img class="thumb" src="../IMAGES/psykometrik recordings/Tercer ojo OSCMAN.jpg" alt="Tercer ojo — OSCMAN">
      <p class="caption">Tercer ojo<br> <span>OSCMAN</span></p>
    </a>

    <a class="item" href="https://www.beatport.com/es/release/mintaka/4913836" target="_blank">
      <img class="thumb" src="../IMAGES/psykometrik recordings/Mintaka Buzo Gent.jpg" alt="Mintaka — Buzo Gent">
      <p class="caption">Mintaka<br><span>Buzo Gent</span></p>
    </a>

    <a class="item" href="https://www.beatport.com/es/release/holler/5036126" target="_blank">
      <img class="thumb" src="../IMAGES/psykometrik recordings/Gritar Ntemos.jpg" alt="Gritar — Ntemos">
      <p class="caption">Gritar<br><span>Ntemos</span></p>
    </a>

    <a class="item" href="https://www.beatport.com/es/release/leixample/4810276" target="_blank">
      <img class="thumb" src="../IMAGES/psykometrik recordings/El Eixample Vollkomm.jpg" alt="El Eixample — Vollkomm">
      <p class="caption">El Eixample<br><span>Vollkomm</span></p>
    </a>

  </div>
</section>

<!-- HIDDEN SECRET -->
<section id="hidden-secret" class="container">
  <h2>Hidden Secret</h2>
  <div class="galeria">



    <a class="item" href="https://www.beatport.com/es/release/b-archive/4903199" target="_blank">
      <img class="thumb" src="../IMAGES/hidden secret/B-Archive Traversable Message.jpg" alt="B-ArchiveTraversable Message">
      <p class="caption">B-Archive<br><span>Traversable Message</span></p>
    </a>




    <a class="item" href="https://www.beatport.com/es/release/backward/5127465" target="_blank">
      <img class="thumb" src="../IMAGES/hidden secret/Backward Bulah (1).jpg" alt="Backward Bulah">
      <p class="caption">Backward<br><span>Bulah</span></p>
    </a>


     <a class="item" href="https://www.beatport.com/es/release/todo-lo-que-es/5125363" target="_blank">
      <img class="thumb" src="../IMAGES/hidden secret/Todo lo que es Innmenal.jpg" alt="Todo lo que esInnmenal">
      <p class="caption">Todo lo que es<br><span></span>Innmenal</span></p>
    </a>

     <a class="item" href="https://www.beatport.com/es/release/fungible/5172574" target="_blank">
      <img class="thumb" src="../IMAGES/hidden secret/Fungible MMØ.jpg" alt="Fungible — MMØ">
      <p class="caption">Fungible<br> <span>MMØ</span></p>
    </a>

    <a class="item" href="https://www.beatport.com/es/label/hidden-secret-records/67564?srsltid=AfmBOoo5h6iUt3O5lTd4V_qn_Y-dr0OJNEZtk5ELyaj_QUPsN07IWmJV" target="_blank">
      <img class="thumb" src="../IMAGES/hidden secret/Repetitive Chaos Syndrome.jpg" alt="Repetitive Chaos — Syndrome">
      <p class="caption">Repetitive Chaos<br> <span>Syndrome</span></p>
    </a>

    <a class="item" href="https://www.beatport.com/es/release/last-melodies/5125283" target="_blank">
      <img class="thumb" src="../IMAGES/hidden secret/Last Melodies Aaron Schwarz.jpg" alt="Last Melodies — Aaron Schwarz">
      <p class="caption">Last Melodies<br> <span>Aaron Schwarz</span></p>
    </a>

    <a class="item" href="https://www.beatport.com/es/release/pathless/5125267" target="_blank">
      <img class="thumb" src="../IMAGES/hidden secret/Pathless RZNBAM.jpg" alt="Pathless — RZNBAM">
      <p class="caption">Pathless<br> <span>RZNBAM</span></p>
    </a>

    <a class="item" href="https://www.beatport.com/es/release/dorado/5125275" target="_blank">
      <img class="thumb" src="../IMAGES/hidden secret/_Dorado Heliosphere, Namhar.jpg" alt="Dorado — Heliosphere, Namhar">
      <p class="caption">Dorado<br> <span>Heliosphere, Namhar</span></p>
    </a>

  </div>
</section>
  

<!---FOOTER PIE DE PAGINA-->
  <footer>
  <div class="container footer-content">
    <!-- COLUMNA IZQUIERDA QUE CONTIENE NOMBRE DE EMPRESA Y DIRECCION FISICA-->
    <div class="footer-left">
      <p>© 2025 Sbert Distribution SSL</p>
      <p>Todos los derechos reservados</p>
      <p>Dirección: Carretera Militar 50, Illes Balears, Spain, 07012</p>
    </div>

    <!-- COLUMNA CENTRAL QUE CONTIENE RRSS CADA RED VINCULADA CON SU DIRECCION-->
    <div class="footer-center">
      <a href="https://www.facebook.com/p/Sbert-Records-100063693550907/" class="social">
        <img src="../IMAGES/logos y RRSS/logos/fbook.png" alt="Facebook">
      </a>
      <a href="https://www.instagram.com/sbert_records/" class="social">
        <img src="../IMAGES/logos y RRSS/logos/insta2.png" alt="Instagram">
      </a>
       <a href="https://www.youtube.com/channel/UC2CBPfKLiIV60zYjvActzmg" class="social">
        <img src="../IMAGES/logos y RRSS/logos/10462337.png" alt="Youtube">
      </a>
      <a href="https://x.com/danisbert" class="social">
        <img src="../IMAGES/logos y RRSS/logos/10483410.png" alt="Twitter">
      </a>
    </div>

    <!-- COLUMNA DERECHA QUE CONTIENE LINK AVISO LEGAL VINCULADO CON LA PAGINA "AVISO LEGAL"-->
    <div class="footer-right">
      <a href="../avisoLegal.html">Aviso legal</a>
    </div>
  </div>
</footer>
</body>
</html>


  



