<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Sbert Distribution | Sellos discograficos de musica electronica</title>

  <!-- DESCRIPCION PARA POSICIONAMIENTO EN REDES SOCIALES Y GOOGLE -->
  <meta name="description" content="Sbert Distribution reune sellos discograficos especializados en techno, house y musica electronica.">

  <!-- PALABRAS CLAVES -->
  <meta name="keywords" content="techno, house, musica electronica, sello discografico, distribucion musical, Sbert Distribution">

  <!-- AUTOR -->
  <meta name="author" content="Sbert Distribution">

  <!-- HOJA DE ESTILOS -->
  <link rel="stylesheet" href="../css/estilos.css">
  
  <!--FAVICON-->
  <link rel="icon" type="image/png" href="../images/favicon.png">

</head>
<body>
  <header>
    <!-- SECCION QUE CONTIENE LOGO DE LA EMPRESA Y EL NOMBRE-->
    <div class="container brand">
      <img src="../images/sbert_records2.jpg" alt="Sbert_Records" width="400" height="400">
      <span>Sbert Records</span>
    </div>
  </header>

  <nav> 
    <!-- "MENU" SECCION QUE CONTIENE LA LISTA DESORDINADA "MENU" CON 4 ENLACES CADA UNA
     VINCULADA A SU CORRESPONDIENTE PAGINA-->
    <div class="container">
      <ul class="menu">
        <li><a href="../index.html">Inicio</a></li>
        <li><a class="activo" href="portfolio.html">Catálogo</a></li>
        <li><a href="presupuesto.html">Tu Demo</a></li>
        <li><a href="contacto.html">Contacto</a></li>
      </ul>
    </div>
  </nav>

  
  <!--PORTFOLIO-->
  
  <!-- SECCION QUE CONTIENE TITULO Y PARRAFO "HERO"-->
  <div class="container">
    <section class="galeria-hero-container">
  <div class="presentacion_galeria">
    <h1>An Innovative Vision for Electronic Music</h1>
  </div>
  <div class="parrafo_galeria">
    <p>
      With a professional approach and a passion for excellence,
       Sbert Records is the ideal platform<br>
      for any electronic music artist looking to perfect their sound.
       <br>Our commitment to innovation and quality
      ensures that every project we work on is taken to the next level,<br> helping artists gain recognition
      and achieve success in the industry.
    </p>
  </div>
</section>
</div>

<!--AQUI HAY 5 SECCIONES DE GALERIA PARA CADA SELLO-->
<!--CADA SECCION CONTEIENE 8 ELEMENTOS -->
<!--CADA ELEMENTO CONTIENE IMAGEN, TITULO Y PARRAFO(DESCRIPCION), Y ESTA VINCULADO 
CON SECCION CORRESPONDIENETE DE PAGINA EXTERNA, DONDE USUARIO PODRA COMPLEAR EL SERVICIO -->


<!-- SECCION SBERT RECORDS -->
<section id="sbert-records" class="container">
  <h2>Sbert Records</h2>
  <div class="galeria">

    <a class="item" href="https://www.beatport.com/es/release/steelgrave/5179655" target="_blank">
    <img class="thumb" src="../images/sbertrecords/steelgrave_rgh.jpg" alt="steelgrave-rgh" width="600" height="600">
    <p class="caption">Steelgrave<br><span>RGH</span></p>
    </a>

    <a class="item" href="https://www.beatport.com/es/release/status-q/5174101" target="_blank">
    <img class="thumb" src="../images/sbertrecords/status-q-aaron-schwarz.jpg" alt="statusQ-aaron-schwarz" width="600" height="600">
    <p class="caption">Status Q<br><span>Aaron Schwarz</span></p>
    </a>

    <a class="item" href="https://www.beatport.com/es/release/particular-synthesis/5179664" target="_blank">
    <img class="thumb" src="../images/sbertrecords/particular-synthesis-axell-lopez.jpg" alt="particular-synthesis-axell-lopez" width="600" height="600">
    <p class="caption">Particular Synthesis<span>Axell Lopez</span></p>
    </a>


    <a class="item" href="https://www.beatport.com/es/release/underneath/5129510" target="_blank">
      <img class="thumb" src="../images/sbertrecords/underneath-dani-sbert-duniz.jpg" alt="underneath—danisbert-duniz" width="600" height="600">
      <p class="caption">Underneath<br><span>Dani Sbert, Duniz</span></p>
    </a>

    <a class="item" href="https://www.beatport.com/es/release/kernspule/5174313" target="_blank">
      <img class="thumb" src="../images/sbertrecords/kernspule-oliver-kalte.jpg" alt="kernspule-oliver-kalte" width="600" height="600">
      <p class="caption">Kernspule<br> <span>Oliver Kalte</span></p>
    </a>

    <a class="item" href="https://www.beatport.com/es/release/html-rules/5174079" target="_blank">
      <img class="thumb" src="../images/sbertrecords/html-rules-mota.jpg" alt="html-rules-mota" width="600" height="600">
      <p class="caption">HTML RULES<br> <span>MOTA</span></p>
    </a>

    <a class="item" href="https://www.beatport.com/es/release/centaurus/5174286" target="_blank">
      <img class="thumb" src="../images/sbertrecords/centaurus-heliosphere-namhar.webp" alt="centaurus-heliosphere-namhar" width="600" height="600">
      <p class="caption">Centaurus <br><span>Heliosphere, Namhar</span></p>
    </a>

    <a class="item" href="https://www.beatport.com/es/release/sonic-archives/5129489" target="_blank">
      <img class="thumb" src="../images/sbertrecords/sonic-archives-traversable-messa.jpg" alt="sonic-archives—traversable-message" width="600" height="600">
      <p class="caption">Sonic Archives<br><span>Traversable Message</span></p>
    </a>

  </div>
</section>

<!-- BULLY BEATZ -->
<section id="bully-beatz" class="container">
  <h2>Bully Beatz</h2>
  <div class="galeria">

    
    <a class="item" href="https://www.beatport.com/es/release/rift-valley/5179661" target="_blank" >
      <img class="thumb" src="../images/bullyBeatz/rift-valley-vincent-it.jpg" alt="rift-valley-vincent-it">
      <p class="caption">Rift Valley<br><span>Vincent (IT)</span></p>
    </a>

     <a class="item" href="https://www.beatport.com/es/release/quasar/5148390" target="_blank" >
      <img class="thumb" src="../images/bullyBeatz/quasar-just-jovani.jpg" alt="quasar-just-jovani" width="600" height="600">
      <p class="caption">Quasar<br><span>Just Jovani</span></p>
    </a>

      <a class="item" href="https://www.beatport.com/es/release/fucked-up/4937790" target="_blank" >
      <img class="thumb" src="../images/bullyBeatz/fucked-up-daniel-sbert-diatonik.jpg" alt="fucked-up-daniel-sbert-diatonik" width="600" height="600">
      <p class="caption">Fucked Up<br><span>Daniel Sbert, Diatonik</span></p>
    </a>


    
    <a class="item" href="https://www.beatport.com/es/label/bully-beatz/18790?srsltid=AfmBOoqsGqGLvvnL3D2pyq0iSftKBvoGNLubf86iOVVBjzjggeRuHyL5" target="_blank">
      <img class="thumb" src="../images/bullyBeatz/black-hole-piero-dp.jpg" alt="black-hole-piero-dp" width="600" height="600">
      <p class="caption">Black Hole<br><span>Piero Dp</span></p>
    </a>

    <a class="item" href="https://www.beatport.com/es/release/xenon/5234227" target="_blank">
      <img class="thumb" src="../images/bullyBeatz/xenon-daniel-sbert.jpg" alt="xenon-daniel-sbert" width="600" height="600">
      <p class="caption">Xenon<br><span>Daniel Sbert</span></p>
    </a>

    <a class="item" href="https://www.beatport.com/es/release/crambler/5107795" target="_blank">
      <img class="thumb" src="../images/bullyBeatz/crambler-botar.jpg" alt="crambler-botar" width="600" height="600">
      <p class="caption">Crambler<br><span>Botar</span></p>
    </a>

    <a class="item" href="https://www.beatport.com/es/release/into-the-light/5120906" target="_blank">
      <img class="thumb" src="../images/bullyBeatz/into-the-light-domek.jpg" alt="into-the-light-domek" width="600" height="600">
      <p class="caption">Into the light<br><span>Domek</span></p>
    </a>

    <a class="item" href="https://www.beatport.com/es/release/descent-into-oblivion/5162842" target="_blank">
      <img class="thumb" src="../images/bullyBeatz/descent-into-oblivion-logan.jpg" alt="descent-into-oblivion-logan" width="600" height="600">
      <p class="caption">Descent Into Oblivion<br><span>Logan</span></p>
    </a>

  </div>
</section>


<!-- UFO RECORDINGS -->
<section id="ufo-recordings" class="container">
  <h2>UFO Recordings</h2>
  <div class="galeria">


    <a class="item" href="https://www.beatport.com/es/release/trident-selection/5127102" target="_blank">
      <img class="thumb" src="../images/ufoRecordings/trident-selection-conspiranoik.jpg" alt="trident-selection-conspiranoik-zinner-vanish-us" width="480" height="480">
      <p class="caption">Trident Selection<br><span>Conspiranoic, Zinner, Vanish</span></p>
    </a>

    
    <a class="item" href="https://www.beatport.com/es/release/failed-memory/5350782" target="_blank">
      <img class="thumb" src="../images/ufoRecordings/failed-memory-axell-lopez.jpg" alt="failed-memory-axell-lopez" width="480" height="480">
      <p class="caption">Failed Memory<br><span>Axell Lopez</span></p>
    </a>

    <a class="item" href="https://www.beatport.com/es/release/code/5288909" target="_blank">
      <img class="thumb" src="../images/ufoRecordings/the-lying-escene-axell-lopez.jpg" alt="the-lying-scene-axell-lopez" width="600" height="600">
      <p class="caption">The Lying Scene<br><span>Axell Lopez</span></p>
    </a>

    <a class="item" href="https://www.beatport.com/es/release/code/5288909" target="_blank">
      <img class="thumb" src="../images/ufoRecordings/code-analogic-ethanol.jpg" alt="code-analogic-ethanol" width="480" height="480">
      <p class="caption">Code Analogic<br><span>Ethanol</span></p>
    </a>

    <a class="item" href="https://www.beatport.com/es/release/shadow-of-the-beast/5174369" target="_blank">
      <img class="thumb" src="../images/ufoRecordings/shadow-of-the-beast-zinner.jpg" alt="shadow-of-the-beast-zinner" width="480" height="480">
      <p class="caption">Shadow of the Beast<br><span>Zinner</span></p>
    </a>

    <a class="item" href="https://www.beatport.com/es/release/cured/5126878" target="_blank">
      <img class="thumb" src="../images/ufoRecordings/cured-conspiranoik.jpg" alt="cured-conspiranoik" width="480" height="480">
      <p class="caption">Cured<br><span>Conspiranoik</span></p>
    </a>

    <a class="item" href="https://www.beatport.com/es/release/proton-crossed/5174261" target="_blank">
      <img class="thumb" src="../images/ufoRecordings/proton-crossed-tiger-musik.jpg" alt="proton-crossed-tiger-musik" width="600" height="600">
      <p class="caption">Proton Crossed<br><span>Tiger Musik</span></p>
    </a>

    <a class="item" href="https://www.beatport.com/es/release/tnt/5127306" target="_blank">
      <img class="thumb" src="../images/ufoRecordings/tnt-jey-di.jpg" alt="tnt-jey-di" width="480" height="480">
      <p class="caption">Tnt<br><span>Jey Di</span></p>
    </a>

  </div>
</section>


<!-- PSYKOMETRIK RECORDINGS -->
<section id="psykometrik-recordings" class="container">
  <h2>Psykometrik Recordings</h2>
  <div class="galeria">


    <a class="item" href="https://www.beatport.com/es/release/gone/4727999" target="_blank">
      <img class="thumb" src="../images/psykometrik-recordings/gone-sjoerd-schouten.jpg" alt="gone-sjoerd-schouten" width="600" height="600">
      <p class="caption">Gone<br><span>Sjoerd Schouten</span></p>
    </a>

    

    <a class="item" href="https://www.beatport.com/es/release/holler/5036126" target="_blank">
      <img class="thumb" src="../images/psykometrik-recordings/holler-ntemos.jpg" alt="holler-ntemos" width="600" height="600">
      <p class="caption">Holler<br><span>Ntemos</span></p>
    </a>

    
    <a class="item" href="https://www.beatport.com/es/release/dual-selections/5129456" target="_blank">
      <img class="thumb" src="../images/psykometrik-recordings/dual-selections-conspiranoik-er.jpg" alt="dual-selections-conspiranoik-errors" width="600" height="600">
      <p class="caption">Dual Selections<br><span>Conspiranoik, Errors</span></p>
    </a>

    <a class="item" href="https://www.beatport.com/es/release/gliese/5036121" target="_blank">
      <img class="thumb" src="../images/psykometrik-recordings/gliese-error.jpg" alt="gliese—error" width="600" height="600">
      <p class="caption">Gliese<br><span>Errores</span></p>
    </a>

    <a class="item" href="https://www.beatport.com/es/release/3rd-eye/5126427" target="_blank">
      <img class="thumb" src="../images/psykometrik-recordings/tercer-ojo-oscman.jpg" alt="tercer-ojo-oscman" width="600" height="600" >
      <p class="caption">Tercer ojo<br> <span>OSCMAN</span></p>
    </a>

    <a class="item" href="https://www.beatport.com/es/release/mintaka/4913836" target="_blank">
      <img class="thumb" src="../images/psykometrik-recordings/mintaka-buzo-bent.jpg" alt="mintaka—buzo-gent" width="600" height="600">
      <p class="caption">Mintaka<br><span>Buzo Gent</span></p>
    </a>

    <a class="item" href="https://www.beatport.com/es/release/holler/5036126" target="_blank">
      <img class="thumb" src="../images/psykometrik-recordings/gritar-ntemos.jpg" alt="gritar-ntemos">
      <p class="caption">Gritar<br><span>Ntemos</span></p>
    </a>

    <a class="item" href="https://www.beatport.com/es/release/leixample/4810276" target="_blank">
      <img class="thumb" src="../images/psykometrik-recordings/el-eixample-vollkomm.jpg" alt="el-eixample—vollkomm" width="600" height="600">
      <p class="caption">El Eixample<br><span>Vollkomm</span></p>
    </a>

  </div>
</section>

<!-- HIDDEN SECRET -->
<section id="hidden-secret" class="container">
  <h2>Hidden Secret</h2>
  <div class="galeria">



    <a class="item" href="https://www.beatport.com/es/release/b-archive/4903199" target="_blank">
      <img class="thumb" src="../images/hidden-secret/b-archive-traversable-message.jpg" alt="b-archive-traversable-message" width="600" height="600">
      <p class="caption">B-Archive<br><span>Traversable Message</span></p>
    </a>


    <a class="item" href="https://www.beatport.com/es/release/backward/5127465" target="_blank">
      <img class="thumb" src="../images/hidden-secret/backward-bulah.jpg" alt="backward-bulah" width="600" height="600" >
      <p class="caption">Backward<br><span>Bulah</span></p>
    </a>


    <a class="item" href="https://www.beatport.com/es/release/todo-lo-que-es/5125363" target="_blank">
      <img class="thumb" src="../images/hidden-secret/todo-lo-que-es-innmenal.jpg" alt="todo-lo-que-es-innmenal" width="600" height="600">
      <p class="caption">Todo lo que es<br><span>Innmenal</span></p>
    </a>

     <a class="item" href="https://www.beatport.com/es/release/fungible/5172574" target="_blank">
      <img class="thumb" src="../images/hidden-secret/fungible-mmq.jpg" alt="fungible-MMØ" width="600" height="600">
      <p class="caption">Fungible<br><span>MMØ</span></p>
    </a>

    <a class="item" href="https://www.beatport.com/es/label/hidden-secret-records/67564?srsltid=AfmBOoo5h6iUt3O5lTd4V_qn_Y-dr0OJNEZtk5ELyaj_QUPsN07IWmJV" target="_blank">
      <img class="thumb" src="../images/hidden-secret/repetitive-chaos-syndrome.jpg" alt="repetitive-chaos—syndrome" width="600" height="600">
      <p class="caption">Repetitive Chaos<br> <span>Syndrome</span></p>
    </a>

    <a class="item" href="https://www.beatport.com/es/release/last-melodies/5125283" target="_blank">
      <img class="thumb" src="../images/hidden-secret/last-melodies-aaron-schwarz.jpg" alt="last-melodies—aaron-schwarz" width="600" height="600">
      <p class="caption">Last Melodies<br> <span>Aaron Schwarz</span></p>
    </a>

    <a class="item" href="https://www.beatport.com/es/release/pathless/5125267" target="_blank">
      <img class="thumb" src="../images/hidden-secret/pathless-rznbam.jpg" alt="pathless—rznbam" width="600" height="600">
      <p class="caption">Pathless<br> <span>RZNBAM</span></p>
    </a>

    <a class="item" href="https://www.beatport.com/es/release/dorado/5125275" target="_blank">
      <img class="thumb" src="../images/hidden-secret/dorado-heliosphere-namhar.jpg" alt="dorado—heliosphere-namhar" width="600" height="600">
      <p class="caption">Dorado<br> <span>Heliosphere, Namhar</span></p>
    </a>

  </div>
</section>
  

<!---FOOTER PIE DE PAGINA-->
  <footer>
  <div class="container footer-content">
    <!-- COLUMNA IZQUIERDA QUE CONTIENE NOMBRE DE EMPRESA Y DIRECCION FISICA-->
    <div class="footer-left">
      <p>© 2025 Sbert Distribution SSL</p>
      <p>Todos los derechos reservados</p>
      <p>Dirección: Carretera de Reyes 50, Illes Balears, Spain, 07012</p>
    </div>

    <!-- COLUMNA CENTRAL QUE CONTIENE RRSS CADA RED VINCULADA CON SU DIRECCION-->
    <div class="footer-center">
      <a href="https://www.facebook.com/p/Sbert-Records-100063693550907/" class="social">
        <img src="../images/logos-redes/fbook.png" alt="facebook" width="80" height="80">
      </a>
      <a href="https://www.instagram.com/sbert_records/" class="social">
        <img src="../images/logos-redes/insta2.png" alt="instagram" width="80" height="80">
      </a>
       <a href="https://www.youtube.com/channel/UC2CBPfKLiIV60zYjvActzmg" class="social">
        <img src="../images/logos-redes/you-tube.png" alt="youtube" width="80" height="80">
      </a>
      <a href="https://x.com/danisbert" class="social">
        <img src="../images/logos-redes/x.png" alt="twitter" width="80" height="80">
      </a>
    </div>

    <!-- COLUMNA DERECHA QUE CONTIENE LINK AVISO LEGAL VINCULADO CON LA PAGINA "AVISO LEGAL"-->
    <div class="footer-right">
      <a href="avisoLegal.html">Aviso legal</a>
    </div>
  </div>
</footer>
</body>
</html>


  



