<!doctype html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Sellos Discográficos / Portfolio · Sbert Distribution</title>
  <link rel="stylesheet" href="../CSS/estilos.css">
</head>
<body>
  <header>
    <div class="container brand">
      <img src="../IMAGES/sbert_records2.jpg" alt="Sbert_Records">
      <span>Sbert Records</span>
    </div>
  </header>

  <nav>
    <div class="container">
      <ul class="menu">
        <li><a href="../index.html">Inicio</a></li>
        <li><a class="activo" href="productos.html">Catálogo</a></li>
        <li><a href="presupuesto.html">Tu Demo</a></li>
        <li><a href="contacto.html">Contacto</a></li>
      </ul>
    </div>
  </nav>
  <section class="galeria-hero">
    <div class="presentacion_galeria">
      <h1>An Innovative Vision for Electronic Music</h1>
    </div>
    <div class="parrafo_galeria">
      <p>With a professional approach and a passion for excellence, <br>Sbert Records is the ideal platform for any electronic music artist looking to perfect their sound. <br>Our commitment to innovation and quality ensures that every project we work on is taken to the next level,<br> helping artists gain recognition and achieve success in the industry<br><br></p>
    </div>
  </section>

  <section id="sbert-records">
    <h2>Sbert Records</h2>
    <div class="galeria">
    <div class="item"><a class="link" href="https://www.beatport.com/es/release/underneath/5129510"><img src="../IMAGES/sbertrecords/Underneath Dani Sbert, Duniz.jpg" alt="UnderneathDani Sbert, Duniz"></a><p>Underneath <br>Dani Sbert, Duniz</p></a></div>
    <div class="item"><img src="../IMAGES/sbertrecords/Kernspule Oliver Kalte.jpg" alt="KernspuleOliver Kalte"><a class="link" href="https://www.beatport.com/es/release/kernspule/5174313"><p>Kernspule<br>Oliver Kalte</p></a></div>
    <div class="item"><img src="../IMAGES/sbertrecords/HTML RULES MOTA.jpg" alt="HTML_RULES_MOTA"><a class="link" href="https://www.beatport.com/es/release/html-rules/5174079"><p>HTML RULES<br>MOTA</p></a></div>
    <div class="item"><a class="link" href="https://www.beatport.com/es/release/centaurus/5174286"><img src="../IMAGES/sbertrecords/Centaurus Heliosphere, Namhar.webp" alt="Proyecto 4"><p>CentaurusHeliosphere <br> Namhar</p></a></div>
    <div class="item"><a class="link" href="https://www.beatport.com/es/release/sonic-archives/5129489"><img src="../IMAGES/sbertrecords/Sonic Archives Traversable Messa.jpg" alt="Sonic ArchivesTraversable Message"><p>Sonic Archives<br>Traversable Message</p></a></div>
  
</section id="bully-beatz">
<br>
<br>
  <section id="bully-beatz">
    <h2>Bully Beatz</h2>
    <div class="galeria">
    <div class="item"><a class="link" href="https://www.beatport.com/es/label/bully-beatz/18790?srsltid=AfmBOoqsGqGLvvnL3D2pyq0iSftKBvoGNLubf86iOVVBjzjggeRuHyL5"><img src="../IMAGES/bullyBeatz/_Black Hole Piero Dp.jpg" alt="Black Hole Piero Dp"><p>Black Hole<br>Piero Dp</p></a></div>
    <div class="item"><a class="link" href="https://www.beatport.com/es/release/xenon/5234227"><img src="../IMAGES/bullyBeatz/Xenon Daniel Sbert.jpg" alt="XenonDaniel Sbert"><p>Xenon<br>Daniel Sbert</p></a></div>
    <div class="item"><a class="link" href="https://www.beatport.com/es/release/crambler/5107795"><img src="../IMAGES/bullyBeatz/Crambler Botar.jpg" alt="Crambler Botar"><p>Crambler<br>Botar</p></a></div>
    <div class="item"><a class="link" href="https://www.beatport.com/es/release/into-the-light/5120906"><img src="../IMAGES/bullyBeatz/Into the light Domek.jpg" alt="Into the light_Domek"><p>Into the light<br>Domek</p></a></div>
    <div class="item"><a class="link" href="https://www.beatport.com/es/release/descent-into-oblivion/5162842"><img src="../IMAGES/bullyBeatz/Descent Into Oblivion Logan.jpg" alt="Descent Into Oblivion Logan"><p>Descent Into Oblivion<br>Logan</p></a></div>
  
</section>
<br>
<br>
  <section id="ufo-recordings">
    <h2>UFO Recordings</h2>
    <div class="galeria">
    <div class="item"><a class="link" href="https://www.beatport.com/es/release/code/5288909"><img src="../IMAGES/ufoRecordings/Code Analogic Ethanol.jpg" alt="CodeAnalogic Ethanol"><p>Code Analogic<br>Ethanol</p></a></div>
    <div class="item"><a class="link" href="https://www.beatport.com/es/release/shadow-of-the-beast/5174369"><img src="../IMAGES/ufoRecordings/Shadow of the Beast Zinner.jpg" alt="Shadow of the Beast Zinner"><p>Shadow of the Beast<br>Zinner</p></a></div>
    <div class="item"><a class="link" href="https://www.beatport.com/es/release/cured/5126878"><img src="../IMAGES/ufoRecordings/Cured Conspiranoik.jpg" alt="CuredConspiranoik"><p>Cured<br>Conspiranoik</p></a></div>
    <div class="item"><a class="link" href="https://www.beatport.com/es/release/proton-crossed/5174261"><img src="../IMAGES/ufoRecordings/Proton Crossed Tiger Musik.jpg" alt="Proton CrossedTiger Musik"><p>Proton Crossed<br>Tiger Musik</p></a></div>
    <div class="item"><a class="link" href="https://www.beatport.com/es/release/tnt/5127306"><img src="../IMAGES/ufoRecordings/Tnt Jey Di.jpg" alt="TntJey Di"><p>Tnt<br>Jey Di</p></a></div>
   
</section>
<br>
<br>
  <section id="psykometrik-recordings">
    <h2>Psykometrik Recordings</h2>
    <div class="galeria">
    <div class="item"><a class="link" href="https://www.beatport.com/es/release/gliese/5036121"><img src="../IMAGES/psykometrik recordings/Gliese Error.jpg" alt="Gliese_Error"><p>Gliese<br>Error</p></a></div>
    <div class="item"><a class="link" href="https://www.beatport.com/es/release/3rd-eye/5126427"><img src="../IMAGES/psykometrik recordings/Tercer ojo OSCMAN.jpg" alt="Tercer_ojo_OSCMAN"><p>Tercer ojo<br>OSCMAN</p></a></div>
    <div class="item"><a class="link" href="https://www.beatport.com/es/release/mintaka/4913836"><img src="../IMAGES/psykometrik recordings/Mintaka Buzo Gent.jpg" alt=MintakaBuzoGent><p>Mintaka<br>Buzo Gent</p></a></div>
    <div class="item"><a class="link" href="https://www.beatport.com/es/release/holler/5036126"><img src="../IMAGES/psykometrik recordings/Gritar Ntemos.jpg" alt="Gritar_Ntemos"><p>Gritar<br>Ntemos</p></a></div>
    <div class="item"><a class="link" href="https://www.beatport.com/es/release/leixample/4810276"><img src="../IMAGES/psykometrik recordings/El Eixample Vollkomm.jpg" alt="El_Eixample_Vollkomm"><p>El Eixample<br>Vollkomm</p></a></div>
  
</section>
<br>
<br>
  <section id="hidden-secret">
    <h2>Hidden Secret</h2>
    <div class="galeria">
    <div class="item"><a class="link" href="https://www.beatport.com/es/release/fungible/5172574"><img src="../IMAGES/hidden secret/Fungible MMØ.jpg" alt="Fungible_MMØ"><p>Fungible<br>MMØ</p></a></div>
    <div class="item"><a class="link" href="https://www.beatport.com/es/label/hidden-secret-records/67564?srsltid=AfmBOoo5h6iUt3O5lTd4V_qn_Y-dr0OJNEZtk5ELyaj_QUPsN07IWmJV"><img src="..//IMAGES/hidden secret/Repetitive Chaos Syndrome.jpg" alt="RepetitiveChaosSyndrome"><p>Repetitive Chaos<br>Syndrome</p></a></div>
    <div class="item"><a class="link" href="https://www.beatport.com/es/release/last-melodies/5125283"><img src="../IMAGES/hidden secret/Last Melodies Aaron Schwarz.jpg" alt="LastMelodiesAaronSchwarz"><p>Last Melodies<br>Aaron Schwarz</p></a></div>
    <div class="item"><a class="link" href="https://www.beatport.com/es/release/pathless/5125267"><img src="../IMAGES/hidden secret/Pathless RZNBAM.jpg" alt="PathlessRZNBAM"><p>Pathless<br>RZNBAM</p></a></div>
    <div class="item"><a class="link" href="https://www.beatport.com/es/release/dorado/5125275"><img src="../IMAGES/hidden secret/_Dorado Heliosphere, Namhar.jpg" alt="DoradoHeliosphere,Namhar"><p>Dorado<br>Heliosphere, Namhar</p></a></div>
  
</section>


  <footer>
    <div class="container footer-content">
      <div>&copy; 2025 Sbert Destribution SSL</div>
      <div class="social">
        <a href="#">Instagram</a> ·
        <a href="#">Facebook</a> ·
        <a href="#">Twitter</a> ·
        <a href="../avisoLegal.html">Aviso legal</a>
      </div>
      <div>@Todos los derechos reservados</div>
    </div>
  </footer>
</body>
</html>